<div class="flex-item" [@fadeAnimation]>
    <a routerLink="/show/{{show.id}}">
    <div class="show-poster">
        <img [src]="'https://image.tmdb.org/t/p/w185_and_h278_bestv2' + show.poster_path" onError="this.src='../../../assets/img/fallback-img.png';">
    </div>
    <div class="show-details">
        <div [style.background-color]="getRatingColor()" class="show-rating">{{ show.vote_average }}</div>
        <div class="show-title">{{ show.name }}</div>
        <div class="show-info">
            <span class="show-genres">{{ show.genre_names }}</span>
            <span class="show-date">{{ releaseDate }}</span>
        </div>
    </div>
    </a>
</div>