<div id="show-list">
    <div class="container">
            
        <h1>{{ pageTitle }}</h1>

        <div class="flex-container">
            <app-show-list-item 
                *ngFor="let show of shows" 
                [show]="show">
            </app-show-list-item>
        </div>

        <div class="pagination">
            <ul class="page-numbers">
                <li *ngFor="let page of pages" (click)="changePage(page)">{{ page }}</li>
            </ul>
        </div>

    </div>
</div>