#show-list {
    h1 {
        color: #FFFFFF;
        margin-left: 15px;
        font-weight: 400;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding: 50px 0px 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;

        ul.page-numbers {

            text-align: center;
            background: #16a085;
            border: 1px solid #ffffff;

            li {
                display: inline-block;
                padding: 8px 16px;
                user-select: none;
                color: #ffffff;
                position: relative;

                &.active-page, &:hover {
                    background: #12715f;
                }
            }

            &:hover {
                cursor: pointer;
            }

            li:not(:last-child)::after {
                content: "";
                border-right: 1px solid #FFFFFF;
                position: absolute;
                right: 0;
                z-index: 99999;
                width: 5px;
                top: 0;
                bottom: 0;
            }
        }
    }
}