<div id="show-list">
        <div class="container">
                
            <h1>{{ pageTitle }}</h1>

            <div id="categories">
                <div *ngFor="let cat of tvCategoryOptions | keyvalue: utils.originalOrder" (click)="changeShowCategory($event)" [attr.data-tvcatattr]="cat.key" [class.active]="cat.key === tvCat" class="cat-item">{{cat.value.title}}</div>
            </div>
    
            <div class="flex-container">
                <app-show-list-item 
                    *ngFor="let show of shows" 
                    [show]="show">
                </app-show-list-item>
            </div>
    
            <div class="pagination">
                <ul class="page-numbers">
                    <!-- First and previous page selectors -->
                    <ng-template [ngIf]="pages && currentPage > 1 && pages.length > 1">
                        <li (click)="getShows(1, tvCat)">&lt;&lt;</li>
                        <li (click)="getShows(currentPage - 1, tvCat)">&lt;</li>
                    </ng-template>

                    <!-- Page Numbers -->
                    <li *ngFor="let page of pages" [class.active-page]="page == currentPage" (click)="getShows(page, tvCat)">{{ page }}</li>

                    <!-- Next and last page selectors -->
                    <ng-template [ngIf]="pages && currentPage < totalPages">
                        <li (click)="getShows(currentPage + 1, tvCat)">&gt;</li>
                        <li (click)="getShows(totalPages, tvCat)">&gt;&gt;</li>
                    </ng-template>
                </ul>
            </div>
    
        </div>
    </div>