#show-list {

    h1 {
        color: #FFFFFF;
        margin-left: 15px;
        font-weight: 400;
    }

    #categories {
        width: 100%;
        margin: 20px 0px -5px;
        padding: 0px 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 20px;
      }
      
      .cat-item {
            padding: 10px;
            margin: 0.5%;
            flex-basis: 24%;
            min-width: 135px;
            text-align: center;
            color: #FFFFFF;
            font-size: 14px;
            cursor: pointer;
            border-bottom: 1px solid #555555;
            background: #191c1f;
            transition: 0.2s all;

            &:hover, &.active {
                border-bottom: 1px solid #FFFFFF;
                background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
                background: linear-gradient(to right, #3f4c6b, #606c88);
            }

            @media screen and (max-width: 768px) {
                flex-basis: 100%;
            }

      }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        padding: 50px 0px 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;

        ul.page-numbers {

            text-align: center;
            background: #191c1f;
            border: 1px solid #555555;

            li {
                display: inline-block;
                padding: 8px 16px;
                user-select: none;
                color: #ffffff;
                position: relative;

                &.active-page, &:hover {
                    background: #3f4c6b;
                }
            }

            &:hover {
                cursor: pointer;
            }

            li:not(:last-child)::after {
                content: "";
                border-right: 1px solid #555555;
                position: absolute;
                right: 0;
                z-index: 99999;
                width: 5px;
                top: 0;
                bottom: 0;
            }
        }
    }
}