<header>
    <div class="logo-container">
        <a routerLink="/">
            <img src="assets/img/logo-img.png">
            <span id="logo">Tv<span class="bolder">Tracker</span></span>
        </a>
    </div>
    
    <div class="search">
        <form #searchForm="ngForm" (ngSubmit)="searchShows(searchForm)" class="search-form">
            <input class="search-input" name="searchTerm" placeholder="Search Tv Shows..." ngModel>
            <span (click)="searchShows(searchForm)" class="fa fa-search"></span>
        </form>
    </div>
</header>