<aside>
    <ul class="menu">
        <li>
            <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="link-text">Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/shows" routerLinkActive="active-link">
                <i class="fa fa-television" aria-hidden="true"></i>
                <span class="link-text">Tv Shows</span>
            </a>
        </li>
        <li>
            <a routerLink="/account" routerLinkActive="active-link">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="link-text">Log in / Register</span>
            </a>
        </li>
    </ul>

    <div class="credit">Project by Dan C</div>
</aside>