<div *ngIf="seasonData">
    <div id="season-wrapper">

        <div id="season-header">
            <div id="back-button" (click)="navigateBack()">
                <span><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to {{ showName }}</span>
            </div>
            <div class="season-title">
                <h1>{{ showName }} ({{ seasonData.name }})</h1>
            </div>
        </div>

        <div class="season-episode-wrapper">
            <div class="season-episode" *ngFor="let episode of seasonData.episodes">
                <div class="episode_image">
                    <img src="https://image.tmdb.org/t/p/w500{{ episode.still_path }}" onError="this.src='assets/img/missing.png'">
                </div>
                <div class="episode_name">{{ episode.name }}</div>
                <div class="episode_airdate">{{ episode.air_date | formatDate }}</div>
            </div>
        </div>

    </div> 
</div>